image {
   -webkit-transition: opacity .20s ease-in-out;
   -moz-transition: opacity .20s ease-in-out;
   -ms-transition: opacity .20s ease-in-out;
   -o-transition: opacity .20s ease-in-out;
   transition: opacity .20s ease-in-out;
}
